html, body {
  @include font-size(16px);

  font-family: sans-serif;
  background: #DDD;
  color: #333;
}

h1 {
  @include font-size(2rem)
}
h2 {
  @include font-size(1.5rem)
}
h3 {
  @include font-size(1.17rem)
}
h4 {
  @include font-size(1rem)
}
h5 {
  @include font-size(0.83rem)
}
h6 {
  @include font-size(0.75rem)
}
p {
  @include font-size(1rem)
}

.reading-column {
  text-align: justify;

  &--small {
    @extend .reading-column;
    max-width: 40rem;
  }

  &--medium {
    @extend .reading-column;
    max-width: 60rem;
  }

  &--large {
    @extend .reading-column;
    max-width: 80rem;
  }
}